
@font-face {
  font-family: 'ProximaNova-ExtrabldIt';
  src: url('ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-ExtrabldIt.otf')  format('opentype'),
	     url('ProximaNova-ExtrabldIt.woff') format('woff'), url('ProximaNova-ExtrabldIt.ttf')  format('truetype'), url('ProximaNova-ExtrabldIt.svg#ProximaNova-ExtrabldIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
